PORT=4000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Rodri7112
DB_NAME=clinica_padre_pio
JWT_SECRET=dev_secret_key_123
JWT_EXPIRES_IN=8h
FRONTEND_URL=http://localhost:5173