# Servidor
PORT=4000
NODE_ENV=development

# MySQL Local
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=clinica_padre_pio

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=8h

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Email (Mailtrap para dev, Gmail para prod)
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=Clínica Padre Pio <no-reply@clinica.com>

# Activación de cuentas
ACTIVATION_TOKEN_HOURS=24
